<HTML>
    <HEAD>
        <title>for문 예제</title>
    </HEAD>
    <body>
        <!--for문-->
        <!-- 이 안에 javascript 문법 넣을 수 있다-->
        <% for(let i = 0; i < 10; i++) { %>
            <h1>태그 연습 (<%=i+1%>)</h1> <!-- 똑같이 변수 넣을 수 있음 -->
        <% } %>
    </body>
</HTML>