<html>
    <head>
        <title>if문 연습</title>
    </head>
    <body>
        <!-- for문 안에서 if 문 사용하면서 i가 짝수일 때만 태그 출력하도록 -->
        <% for(let i=0;i<10;i++) { if (i % 2 == 0) { %>
            <h1>태그연습입니다.(<%= i %>)</h1>
        <%
                }
            }
        %>
    </body>
</html>