<html></html>
    <head>
        <title>게시글 수정 </title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    </head>
    <body>
        <div class="container">
            <h1>게시글 작성</h1>
            <form action="/edit/<%=post['id']%>" method="post"> <!-- 폼에 액션 추가예정-->
                <!-- 폼을 작성할 수 있게 해주는 태그-->
                <figure>
                    <p>
                        <label>게시글 제목</label>
                        <input type="text" name="title" value="<%=post['title']%>" size="100" />
                    </p>
                    <p>
                        <label>작성자</label>
                        <input type="text" name="author" value="<%=post['author']%>" size="10" />
                    </p>
                    <p>
                        <label>내용</label>
                        <textarea name="content" rows="10"><%=post['content']%></textarea>
                    </p>
                </figure>
                <!--Button 들어간다-->
                <button type="submit">저장</button>
                <a class="button" href="/list">목록으로 이동</a>
            </form>
        </div>
    </body>
</html>